.search{

    margin-top: 66px;
    text-align: center;
}
.filter{
    display: flex;
    margin-left: 35%;
}
.search input{
    height: 43px;
    width: 350px;
    border: 1px solid #323232;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
}

.search input:hover{
    box-shadow: 0 0 10px #323232;
}
.search #btn{
    height: 43px;
    width: 100px;
    text-transform: uppercase;
    border: 1px solid dodgerblue;
    background: white;
    
}
.search #btn:hover{
    background: dodgerblue;
    color: white;
    box-shadow: 0 0 3px #323232;
}
::placeholder{
    text-transform: lowercase;

}
.starts-with{
    width: 350px;
    margin-left: 35%;
    background: whitesmoke;
}

.starts-with .word{
    display: flex;
    padding-left: 10px;
    gap: 20px;
    height: 30px;
    align-items: center;
}
.starts-with .word:hover{
    background: rgb(152, 151, 151);
}
.starts-with .word img{
    height: 50%;
}
.starts-with .word p{
    text-transform: lowercase;
    font-size: 17px;
}